.all-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.items {
    border: 2px solid rgb(235, 181, 232);
    border-radius: 7px;
    margin: 15px;
    font-size: 19px;
    box-sizing: border-box;
    padding: 20px;
}

.input {
    border: 2px solid rgb(235, 181, 232);
    font-size: 19px;
    border-radius: 7px;
}

.input-add {
    border: 2px solid rgb(235, 181, 232);
    border-radius: 7px;
    width: 80px;
    height: 28px;
    margin-right: 10px;
    font-size: 19px;
    margin-bottom: 15px;
    outline: none;
}

.page-numbers {
    list-style: none;
    display: flex;
}

.page-numbers>li {
    margin-right: 0.3em;
    color: lightgreen;
    user-select: none;
    cursor: pointer;
}

.slyle-bild {
    margin: 7px;
}

.one {
    width: 80%;
    border: 2px solid rgb(235, 181, 232);
    border-radius: 7px;
    margin: 15px;
    font-size: 19px;
    box-sizing: border-box;
    padding: 20px;
}

.my-bag {
    margin-left: 88%;
    font-weight: bold;
    border: 2px solid rgb(235, 181, 232);
    border-radius: 7px;
    width: 80px;
    height: 35px;
    font-size: 17px;
}